# files added by usethis::git_vaccinate
.httr-oauth
.Rproj.user
.Rhistory
.Rdata
.DS_Store
# Ignore large files from ipums
*.dat.gz
# Constructed files
#*.html
*.pdf
*.log
*.RData
# Ignore all the junk created by LaTeX
*.aux
*.out
*.bbl
*.ent

/.quarto/
